@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext');

* {
  padding: 0px;
  margin: 0px;
}
a:link {
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  background: #f3f3f3;
  color: #0861aa;
  font-family: Open Sans;
  height: 100%;
  box-sizing: border-box;
}
.left {
  float: left;
}

.right {
  float: right;
}
.hide {
  display: none;
}

/*topo*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #565e66;
}
nav h1 {
  margin: 0px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
/*container principal*/
#container {
  width: 100%;
  height: 100%;
}
.container-flex {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
}
/*menu*/
#menu {
  width: 250px;
  padding-top: 60px;
  min-height: 100%;
  background: #6c757d;
}
#menu ul li a {
  color: #fff;
}
#menu ul li:hover a {
  background-color: #0861aa;
}
/*conteudos*/
#conteudo {
  flex-grow: 1;
  margin: 70px 20px 20px;
  border-radius: 10px;
  border: solid 1px #ddd;
  padding: 20px;
}
#conteudo h1 {
  margin: 0px;
  font-size: 20px;

  padding-bottom: 10px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
}

#boxTable {
  padding: 30px;
}
#boxTable table {
  width: 100%;
  margin: 20px 0px;
}
#boxTable table tr {
  height: 30px;
}
#boxTable table td,
#boxTable table th {
  border: solid 1px #ddd;
  border-spacing: 0;
  padding: 4px;
}
